# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node modules
node_modules/

# Firebase config
.runtimeconfig.json

# Logs
logs/
*.log
npm-debug.log*
firebase-debug.log*

# Local environment
.env
.env.local

